// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
:root{
  --white:#ffffff;
  --gray: gray;
  --font-color: hsl(0, 0%, 63%);
  --border-card-color: rgb(161, 161, 161);
  --background-color-btn:   #14213d;
  --background-color-btn-hover: #fca311;
  --font-color-discount:#fca311;
  --background-opacity: #fca211c5;
  --logo: #fcec00;
  --background-color:rgb(255, 255, 235);
  // ffffff
  // e5e5e5
  // fca311
  // 14213d
  // 000000
}
