.section-discount{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.card-discount a {
  color: inherit;
  text-decoration: none;
}

.section-discount h2.discount-subtitle{
    font-size: var(--subtitle);
    font-weight: var(--medium);
    color: var(--font-color);
    align-items: center;
    margin-bottom: 100px;
}
.section-discount .discount-cocktails{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4px, 1fr);
    gap: 10px;
}
.section-discount .discount-cocktails .card-discount{
    width:100%;
    height:100%;
    transition: .5s;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    position: relative;
}
.section-discount .discount-cocktails .card-discount:hover{
    box-shadow: 0 0 10px var(--gray);
}
.section-discount .discount-cocktails .card-discount .card-info-discount{
    padding: 10px 10px 20px;
}

.section-discount .discount-cocktails .card-discount .card-info-discount .subtitle{
    border-bottom: 1px solid var(--border-card-color);
    padding: 10px 0px;
    font-size:var(--title-paragraph-card);
    font-weight: var(--bold);
}
.section-discount .discount-cocktails .card-discount .card-info-discount .paragraph{
    font-size: var(--paragraph);
}
.section-discount .discount-cocktails .card-discount .card-info-discount .itemp{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-discount .discount-cocktails .card-discount .card-info-discount .itemp .price{
    text-decoration: line-through;
}
.section-discount .discount-cocktails .card-discount .card-info-discount .itemp .new-price{

    color: var(--background-color-btn-hover);
}
.section-discount .discount-cocktails .card-discount .discount-cocktails{
    height: 230px;
    transition: all .5s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
}
.section-discount .discount-cocktails .card-discount .get-off{
    width: 80px;
    height: 30px;
    position: absolute;
    top:5px;
    right: 5px;
    background-color: var(--font-color-discount);
    font-size: var(--title-paragraph-card);
    border-radius: 4px;
    padding: 5px 10px;
    color:var(--white)
}
.section-discount .discount-cocktails .card-discount .sold-out{
    width: 81px;
    height:30px;
    text-align: center;
    position: absolute;
    top:5px;
    right: 5px;
    background-color: var(--font-color-discount);
    font-size: var(--title-paragraph-card);
    border-radius: 4px;
    padding: 5px 10px;
    color:var(--white)
}
.section-discount .discount-cocktails .card-discount .card-info-discount .buy-btn{
    background-color: var(--background-color-btn);
    text-decoration: none;
    color:var(--white);
    padding: 10px 60px;
    margin: 0px 16px;
    border-radius: 4px;
    border: 1px solid var(--blue);
    font-size: var(--title-paragraph-card);
    transition: all .5s;
}
.section-discount .discount-cocktails .card-discount .card-info-discount .buy-btn:hover{
    background-color: var(--background-color-btn-hover);
    color: var(--white);
    border: 1px solid var(--background-color-btn-hover);
}

@media (max-width: 1440px) {
  .section-discount .discount-cocktails {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .section-discount .discount-cocktails {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .section-discount .discount-cocktails {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .section-discount .discount-cocktails {
    grid-template-columns: repeat(1, 1fr);
  }
}
