.section-our-cocktails{
    width:inherit;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}
.section-our-cocktails h2.ourcocktails{
    font-size: var(--subtitle);
    font-weight: var(--medium);
    color: var(--font-color);
    align-items: center;
}
.section-our-cocktails .new-cocktails{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto 0px ;
    gap: 15px;
}
.section-our-cocktails .new-cocktails .cocktails{
    width: 40%;
    height:auto;
    transition: all .5s;
    cursor: pointer;
    object-fit: cover;

}
.section-our-cocktails .new-cocktails .cocktails:hover{
    box-shadow: 0 0 10px var(--gray);
}
